@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(7, 26, 56);
}



.header {
    background-color:rgb(11, 39, 82);;
}



.header h2 {
    color: rgb(144, 144, 32);
    padding: 20px;
    text-shadow: 1px 1px 2px #000;
}


.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5em;
    max-width: 80%;
    margin: 2% auto;
}